@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 11.43 71% 6.8%;
    --foreground: 0 0% 100%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 20 90.3% 3.9%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 0 0% 100%;
    --card-foreground: 11.43 71% 6.8%;
    --card-background: 30 90% 2%;

    --table: 0 0% 100%;
    --table-background: 30 90% 2%;

    --dashboard-card: 7 18% 16%;
    --dashboardcard-background: 35 83% 22%;

    --border: 40.235 92.2% 53.7%;
    --light-border: 25 5% 31%;
    --input: 216 34% 17%;

    --primary: 40.235 92.2% 53.7%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}